body {
background-image:url(fond.jpg);
background-repeat:no-repeat;
background-size:cover; 
background-position:top;
background-color:;
text-align:center;
}

#maForm {
   margin: auto;
   display: block; 
   width:500px; 
   height:400px; 
   margin-left:center; 
   margin-top:200px; 
   border-radius:20px; 
   background-color:ThreeDDarkShadow;
}

.model {
	height:25px;
	width:170px;
	margin-left:center;
	margin-top:100px;
	border-radius:10px; 
}

.price-by-day {
	height:25px;
	width:170px;
	margin-left:center;
	margin-top:30px;
	border-radius:10px;	
}

.price-by-km {
	height:25px;
	width:170px;
	margin-left:center;
	margin-top:30px;
	border-radius:10px;	
}

.begin {
	height:25px;
	width:170px;
	margin-left:-200px;
	margin-top:30px;
	border-radius:10px;	
}

.end {
	height:25px;
	width:170px;
	margin-left:200px;
	margin-top:-28px;
	border-radius:10px;	
}

.distance {
	height:25px;
	width:170px;
	margin-left:center;
	margin-top:30px;
	border-radius:10px;	
}

.option {
	height:15px;
	width:170px;
	margin-left:center;
	margin-top:20px;
	border-radius:10px;	 	
}

#compute {
	height:25px;
	width:150px;
	margin-left:center;
	margin-top:30px;
	border-radius:10px;		
}

input  {
    display: block;
    width: center;
    text-align: center;
	float : center;
}





